@CHARSET "UTF-8";

#hbar {
	min-height: 40px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#myTab {
	min-width: 480px;
	box-shadow: none;
	-webkit-box-shadow:
	none; border: none;
}

#header {
	background-color: white;
	height: 150px;
	margin: 0;
}

#main {
	width: 85%;
	min-height: 100%;
	height: auto;
	margin: -150px auto -60px;
	padding: 190px 0 60px;
}

#fileschart {
	float: left;
	width: 820px;
	height: 500px;
	margin-top: 10px;
}

#filesgrid {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

#filesline {
	float: left;
	width: 600px;
	height: 288px;
	margin-top: 10px;
	margin-left: 10px;
}

.metro-border {
	border: 1px solid #666;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #666;
}

.container .text-muted {
	margin: 20px 0;
}